AuthType Basic
AuthName "queXS CATI: Authentication Required"
AuthUserFile ..\..\..\security\quex.htaccess
AuthGroupFile ..\..\..\security\quex.htgroup
require group admin
Satisfy Any
Order Deny,Allow
Deny from all
